/* Select all buttons and set the background color to red
and the text color to white */
.button {
    -fx-background-color: #8367C7;
    -fx-text-fill: white;
}

/* Set color of button when mouse hovers over it */
.button:hover {
    -fx-background-color: #5603AD;
}

/* Set font of Quote text (really big!) */
#txtQuote {
    -fx-font: 45px Tahoma;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

/* Set size of title text (not too big!) */
#txtTitle {
    -fx-font-size: 20px;
    -fx-alignment: center;
    }

/* Set color of scroll pane (background!) */
.scroll-pane > .viewport {
    -fx-background-color: #C2F8CB;
}




